{% extends 'base.html' %}

{% load partials %}
{% load crispy_forms_tags %}
<!-- StartPartial -->
{% startpartial carrier-form %}
<div class="row" id="carrier-form">
    {% if message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form hx-post="{% url 'add_carrier' %}" hx-target="#carrier-form" hx-swap="outerHTML">
        {% crispy form %}
    </form>

</div>
{% endpartial %}
<!-- EndPartial -->

{% block content %}
{% partial carrier-form %}
{% endblock %}