{% extends 'base.html' %}

{% load partials %}
{% load crispy_forms_tags %}
<!-- StartPartial carrier-form -->
{% startpartial carrier-form %}
<div id="div_id_message" role="alert" hx-swap-oob="true"></div>
<form id="carrier-form" hx-post="{% url 'add_carrier' %}" hx-target="#table_id_carrier" hx-swap="beforeend"
    hx-swap-oob="true">
    {% crispy form %}
</form>
{% endpartial %}
<!-- EndPartial carrier-form -->
<!-- Startpartial carrier-row -->
{% startpartial carrier-row %}
<tr>
    <th scope="row">{{carrier.id}}</th>
    <td>{{carrier.carrier}}</td>
    <td>{{carrier.name}}</td>
    <td>{{carrier.address}}</td>
    <td class="text-center"><span>{% if carrier.active %}<i class="bi bi-check-square"></i>
            {% else %}<i class="bi bi-square-fill"></i>{% endif %}</span></td>
    <td><span class="hover hover-danger" hx-delete="{% url 'delete_carrier' carrier.id %}"><i class="bi bi-trash3"></i>
    </td>
</tr>
{% endpartial %}
<!-- Endpartial carrier-row -->

{% block content %}
<div class="row">
    <div class="col-sm-5">
        <h4>Add Carrier</h4>
        <hr class="hr hr-blurry" />
        {% partial carrier-form %}
    </div>
    <div class="col-sm-7">
        <h4>List of Carriers</h4>
        <hr class="hr hr-blurry" />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Carrier</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Active</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="table_id_carrier" hx-confirm="Are you sure?" hx-target="closest tr"
                hx-swap="outerHTML swap:1s">
                {% for carrier in carriers %}
                <tr>
                    <th scope="row">{{carrier.id}}</th>
                    <td>{{carrier.carrier}}</td>
                    <td>{{carrier.name}}</td>
                    <td>{{carrier.address}}</td>
                    <td class="text-center"><span>{% if carrier.active %}<i class="bi bi-check-square"></i>
                            {% else %}<i class="bi bi-square-fill"></i>{%endif %}</span></td>
                    <td><span class="hover hover-danger" hx-delete="{% url 'delete_carrier' carrier.id %}"><i
                                class="bi bi-trash3"></i></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}